:root { 
   --white: white;  
   --black : black;   
   --accent-color: #6883c3;
   
   --Grey-1000: #535353;
   --Grey-900: #676767;
   --Grey-800: #7C7C7C;
   --Grey-700: #909090;
   --Grey-600: #A4A4A4;
   --Grey-500: #B9B9B9;
   --Grey-400: #CDCDCD;
   --Grey-300: #E2E2E2;
   --Grey-200: #ECECEC;
   --Grey-100: #F6F6F6;


   --Accent-blue-1000: #242f48;
   --Accent-blue-900: #35456a;
   --Accent-blue-800: #465b8b;
   --Accent-blue-700: #5771ad;
   --Accent-blue-600: #6887ce;
   --Accent-blue-500: #799DF0;
   --Accent-blue-400: #a1baf5;
   --Accent-blue-300: #bdcff8;
   --Accent-blue-200: #d9e4fb;
   --Accent-blue-100: #f6f8fe;

   --textColor: #1C3149;  
   
   --checkbox-color: #588cff;  
   
   --hover-1:  rgba(121, 157, 240, 0.04); 
   --xantaLink: #4e83ff; 
   --border-color: #ECECEC;

}



